@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 375px;
  height: 600px;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

#app-container {
  width: 100%;
  height: 100%;
}

select.custom-select {
  /* Remove default browser styling */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Remove border and other default styles */
  border: none;
  outline: none;
  box-shadow: none;
}

input.bg-input[type="password"] {
  -webkit-text-security: disc;
}

input.bg-input {
  font-family: 'Red Hat Display', sans-serif;
  border-color: #424242;
  border-width: 1px;
  background-color: #1D1D1D;
  color: #FFFFFF;
  caret-color: #797979;
  /* Remove the default outline if it's present by default */
  outline: none;
  height: 55px;
  padding: 21px 12px;
}

/* Placeholder styling */
input.bg-input::placeholder,
input.bg-input::-webkit-input-placeholder,
/* WebKit browsers (Chrome, Safari, Opera) */
input.bg-input::-moz-placeholder,
/* Firefox */
input.bg-input::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #797979;
}

/* Hover state */
input.bg-input:hover {
  background-color: #232323;
  outline: none;
  /* Remove the focus outline */
  box-shadow: none;
  /* Remove any browser-specific shadow */
}

/* Focus state */
input.bg-input:focus {
  background-color: #424242;
}


input[type="checkbox"] {
  background-color: #1D1D1D;
  border-radius: 4px;
  border-width: 2px;
  border-color: #424242;
}

input[type="checkbox"]:checked {
  background-color: #E7DF54;
}

.btc-address {
  width: 100%;
  max-width: 224px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

@keyframes react-loading-skeleton {
  100% {
    transform: translateX(100%);
  }
}

.react-loading-skeleton {
  --base-color: #2C2C2C;
  --highlight-color: #424242;
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block; /* Enable animation */

  background-color: var(--base-color);

  width: 100%;
  border-radius: 0.5rem;
  display: inline-flex;
  line-height: 1;

  position: relative;
  user-select: none;
  overflow: hidden;
}

.react-loading-skeleton::after {
  content: ' ';
  display: var(--pseudo-element-display);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-image: var(
    --custom-highlight-background,
    linear-gradient(
      90deg,
      var(--base-color) 0%,
      var(--highlight-color) 50%,
      var(--base-color) 100%
    )
  );
  transform: translateX(-100%);

  animation-name: react-loading-skeleton;
  animation-direction: var(--animation-direction);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@media (prefers-reduced-motion) {
  .react-loading-skeleton {
    --pseudo-element-display: none; /* Disable animation */
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}